.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .theme.col {
    &-1 {
      background-color:$LightPurple;
    }
    &-2 {
      background-color: $LightOrange;
    }
    &-3 {
      background-color: #deb2ee;
    }
    &-4 {
      background-color: #7ee6fd;
    }
    &-5 {
      background-color: #88d9a0;
    }
    &-6 {
      background-color: #4da2bb;
    }
    &-7 {
      background-color: #ec9fa3;
    }
    &-8 {
      background-color: #fd9f85;
    }
    &-9 {
      background-color: $Sunglo;
    }
    &-10 {
      background-color: #63cc82;
    }
    &-11 {
      background-color: $LightCyan;
    }
    &-12 {
      background-color: #80e8d1;
    }
  }
  
  .card {
    flex-basis: 100%;
  }